.menu {
    width: 1400px;
    height: 150px;
    display: block;
    margin: 0 auto;
    &__box {
        display: flex;
        justify-content: space-between;
        nav {
            width: 600px;
            height: 31px;
            margin-top: 59px;
            ul {
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                li {
                    :hover {
                        text-decoration: underline;
                    }
                    a {
                        text-decoration: none;
                        position: absolute;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}